html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1320px;
  padding: 10px 15px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(125, 125, 125);
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: black;
}

.list {
  display: flex;
  gap: 30px;
}

.tel {
  text-decoration: none;
}
