div {
    font-family: "open-sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.some-text1 {
    color: rgb(76, 76, 76);
    font-weight: lighter;
    font-size: 25px;
    font-style: italic;
}

.some-text2 {
    font-weight: 400;
    text-decoration: line-through;
    font-style: normal;
}

.some-text3 {
    color: rgb(76, 76, 76);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
}

.some-text4 {
    word-spacing: 30px;
    text-shadow: 1px 1px 1px rgb(115, 22, 126);
    text-decoration: wavy overline rgb(0, 0, 0);
    font-style: normal;
}

.some-text5 {
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-style: double;
    font-style: normal;
}