table {
  font-family: sans-serif;
  font-size: 100px;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 500px 500px;
}

td,
tr,
caption,
th {
  border: 10px solid black;
  padding: 20px 20px;
}

caption {
  border-bottom: none;
  font-weight: bold;
}

.title {
  color: red;
}

.text-1 {
  color: red;
}
